name: Testes

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código-fonte
      uses: actions/checkout@v2

    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18.12.0

    - name: Instalar dependências
      run: npm install

    - name: Executar testes Jest
      run: npm test
    
    - name: Fazer build da nova versão
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        npm version patch

    - name: Atualizar arquivo README
      run: |
        new_version=$(npm version)
        sed -i '' "s/Version: .*/Version: $new_version/" README.md

    - name: Commit e push versão atualizada
      run: |
        git commit -am "Atualizar versão no README para $new_version"
        git push
